/**
 * CUSTOM COLORS
 */

$background: #222;
$button-color: #222;
$button-background: #fff;
$button-background-2nd: #444;
$button-hover-background-2nd: #555;
$border-color: #555;
$widget-border-color: #444;
$button-hover-background: #bbb;
$social-hover-background: #222;
$icon-color: #666;
$link-color: #ddd;
$link-hover: #fff;
$text-color: #eee;
$text-color-2nd: #ddd;
$text-color-3rd: #ccc;
$text-color-4th: #bbb;
$input-background: #333;
$navigation-border-color: #333;
$navigation-next-prev: #eee;
$main-navigation-hover-color: #999;
$header-background: #262626;
$edit-link-color: #000;
$menu-toggle-background: transparent;
